<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <connectionStrings>
    <add name="con" connectionString="Server = fruitstore.cloudapp.net; Port = 3306; Database = fruitstore; Uid = root; Pwd = BSDnewgeneration;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>