<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <connectionStrings>
    <add name="con2" connectionString="Server=mdwx697kqg.database.windows.net;Database=fruitstore;User ID=dscanon@mdwx697kqg;Password=BSDnewgeneration14;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
    <add name="con" connectionString="Data Source=JJ-PC;Initial Catalog=fruitstore;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>