body {
    background-image: url("../image/fruit.jpg");
}

.search-width {
    width:50%;
    display:inline;
}
.line-element {
    margin-top:5%;
}
.wrapper {
    text-align: center;
}
.margintop {
    margin-top: 2%;
}
.top {
    top: 5px;
}
.jumbotron-inverse {
     background-color: rgba(0, 0, 0, 0.7);
}

.well-inverse {
    background-color: rgba(0, 0, 0, 0.7);
    border:none;
}

.well-inverse2 {
    background-color: rgba(0, 0, 0, 0.85);
    border:none;
}
.f-cloud {
    color:#ecf0f1;
}

.f-silver {
    color:#bdc3c7;
}


.btn-large {
    width:40%;
}
.peter {
    background-color:dodgerblue;
}

.emerald {
    background-color:#2ecc71;
}
.navbar {
    border-radius: unset;
}

.hidden {
    display:none;
}
.padding5per {
    padding-left:5%;
}
.width35per {
    width:35%;
}

.width100per {
    width:100%;
}

.black {
    background-color:#000;
}
.f-black {
    color:#000;
}
.footer {
    margin-bottom:0px;
    position:relative;
    font-size:14px;
    color:#99979c;
}
.top {
    top:-1px;
}
